@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply box-border;
}


/* BODY */

.bodyLayout {
  @apply scroll-smooth break-words flex min-h-screen flex-col items-center justify-between overflow-x-hidden text-primary dark:text-primaryDark bg-primary dark:bg-secondaryDark;
}


/* HEADER & FOOTER*/

.header,
.footer {
  @apply w-full shadow-md flex flex-col justify-center;
  min-height: 3rem;
}

.footer {
  @apply shadow-top;
}

.headerWrapper,
.footerWrapper {
  @apply relative w-full h-full max-w-app mx-auto px-3 lg:px-0 flex flex-nowrap justify-between items-center lg:flex-wrap;
}

.header .button {
  @apply w-6 h-6 rounded-full font-bold dark:text-secondaryDark hover:text-secondary hover:dark:text-secondaryDark duration-150;
}

/* MAIN */

.main {
  @apply grow w-full;
}

.mainWrapper {
  @apply w-full flex flex-col overflow-x-hidden max-w-app mx-auto;
}


.productsList {
  @apply grid md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-x-8 md:gap-y-12 md:px-3 lg:px-0;
}

/* FILTERS */
.filters {
  @apply flex gap-x-3 my-2 px-2 lg:px-0 overflow-x-auto;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */