@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply box-border;
}


/* BODY */

.bodyLayout {
  @apply relative scroll-smooth break-words flex min-h-screen flex-col items-center justify-between overflow-x-hidden text-primary dark:text-primaryDark bg-primary dark:bg-secondaryDark;
}


/* HEADER & FOOTER*/

.header,
.footer {
  @apply w-full shadow-md flex flex-col justify-center;
  min-height: 3rem;
}

.footer {
  @apply shadow-top;
}

.headerWrapper,
.footerWrapper {
  @apply relative w-full h-full max-w-app mx-auto px-3 lg:px-0 flex flex-nowrap justify-between items-center lg:flex-wrap;
}

.header .button {
  @apply w-6 h-6 rounded-full font-bold dark:text-secondaryDark hover:text-secondary hover:dark:text-secondaryDark duration-150;
}

/* MAIN */

.main {
  @apply grow w-full;
}

.mainWrapper {
  @apply w-full flex flex-col overflow-x-hidden max-w-app mx-auto;
}


.productsList {
  @apply grid md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-x-8 md:gap-y-12 md:px-3 lg:px-0;
}

/* FILTERS */
.filters {
  @apply flex gap-x-3 my-4 px-2 lg:px-0 overflow-x-auto;
}

.mainButton {
  @apply hover:bg-sky-700 duration-300 bg-indigo-800;
}

.actionLink {
  @apply flex items-center px-6 py-4 bg-super/10 w-full dark:bg-primaryDark hover:bg-super/20 dark:hover:bg-slate-900/60 duration-300 mb-2 last:mb-0 rounded-2xl;
}

.actionButton {
  @apply flex grow items-center justify-center font-semibold p-3 rounded-lg bg-super dark:hover:bg-indigo-900 dark:bg-indigo-800 hover:bg-opacity-80 duration-200 text-primaryDark;
}

.inputBorder {
  @apply border-2 border-gray-300 dark:border-secondary/30 focus:outline-none;
}

.inputField {
  @apply w-full bg-transparent mt-4 focus:bg-slate-100 dark:focus:bg-super/10 h-10 px-4 py-5 rounded-lg;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */